{% extends 'first_look/base.html' %}

{% block css_links %}
{% endblock %}

{% block content %}
    <div class="let_work" style="font-size:30px;padding-top: 150px;padding-left: 380px;">
    <p id="let_work">
        Join over <strong>People want to hire the talent like you.</strong><br/>
    </p>
    <p id="let_wokr2" style="padding-left:20px;">
    register, apply for job needs you, and get hired. 
    </p>
    </div>
    <div class="signup_button" style="padding-left:600px;padding-top: 20px;">
    <button type="button" class="btn btn-success" style="padding:10px;"><i style="font-family:monaco">  Sign up & work  </i></button>
    </div>
{% endblock %}